<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.podhong.podhong.mapper.SampleMapper">

    <select id="samplesql" resultType="com.podhong.podhong.domain.SampleVO">
        SELECT
              SAMPLE_NO
            , SAMPLE_DESC
        FROM TSAMPLE
    </select>

</mapper>